{% extends 'head.html' %}
{% block title %}{{ page.subtitle }} {{ block.super }}{% endblock %}


{% block background %}

    <div class="horizon-small">
      <img id="detail-background" src="/static/img/single-gallery-wall.png" alt="" />
    </div>

{% endblock %}


{% block messages %}
<!-- messages broken; attempting to display form submission and error messages-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="front-contact scroll">
        <div class="contact-parent">
            <h1 id="contact" class="contact-item">Contact</h1>
            <table>
                <form id="contact-form" class="contact-item" role="form" action="" method="post">
                    {% csrf_token %}
                    <br>
                    {{ form.as_table }}
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </table>
        </div>
    </div>

{% endblock %}
