{% extends 'head.html' %}

{% block background %}
    <div class="horizon scroll">
      <img src="/static/img/background.png" alt="" />
    </div>

<!--
    <div class="middle scroll">
      <img src="/static/img/middle.png" alt="" />
    </div>
  -->

{% endblock %}

{% block content %}


       <div id="gallery-container">
       {% for piece in pieces %}
        {% if forloop.first %}

        <div id="collage-01" class="collage-tile">
            <div id="image-01" class="painting">
                <img src="{{piece.thumbnail_image.url}}">
            </div>
            <div class="plaque">
                <div>
                    <b>{{piece.title}}</b>
                    <br>
                    {{piece.width_in}} in x {{piece.height_in}} in
                    <br>
                    {{piece.finish_date}}
                </div>
            </div>
        </div>

        {% else %}

        <div id="collage-02" class="collage-tile-2">
            <div id="image-02" class="painting-2">
                <img src="{{piece.thumbnail_image.url}}">
            </div>
            <div class="plaque-2">
                <div>
                    <b>{{piece.title}}</b>
                    <br>
                    {{piece.width_in}} in x {{piece.height_in}} in
                    <br>
                    {{piece.finish_date}}
                </div>
            </div>
        </div>

        {% endif %}
    {% endfor %}
{% endblock %}
  </div>
