{% extends 'head.html' %}

{% block background %}
    <div class="horizon-small">
      <img id="detail-background" style="height: 100%;" src="/static/img/single-gallery-wall.png" alt="" />
    </div>

<!--
<div class="middle scroll">
      <img src="/static/img/middle.png" alt="" />
    </div>
-->

{% endblock %}

{% block content %}

  <div class="front-small scroll">

      <h3 class="txt detail-intro">G.S-M./Art</h3>

      <a id="previous-button" class="btn btn-lg" href="/art/{{previous_slug}}">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>

      <a id="next-button" class="btn btn-lg" href="/art/{{next_slug}}">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

      <div class="detail-parent">

          <div id="piece-title" class="detail-plaque detail-item">
              <span class="title-text"><b>{{  piece.title  }}</b></span>
              <br><span class="sub-text">{{piece.medium}}</span>
              <br><span class="sub-text2">{{piece.width_in}} in x {{piece.height_in}} in </span>
              <br>
              <br><span class="sub-text3">{{ piece.description}}</span>
              <br><a href="{% url 'contact' %}" class="btn btn-secondary btn-lg active" role="button">Request Quote</a>
          </div>

          {% if piece.orientation == 'L' or piece.orientation == 'O' %}
          <div class="img-detail detail-item">
              <img id="zoom_01" src="{{piece.small_image.url}}" data-zoom-image="{{piece.large_image.url}}"/>
          </div>

          {% elif piece.orientation == 'P' %}
          <div class="img-detail-p detail-item">
              <img id="zoom_02" src="{{piece.thumbnail_image.url}}" data-zoom-image="{{piece.large_image.url}}"/>
          </div>

          <div id="zoom-container-container" class="detail-item">
              <div id="zoom-container">
              </div>
          </div>
          {% endif %}

    </div>

</div>
{% endblock %}
