
@font-face {
  font-family: Roboto;
  src: url('/static/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: basic;
  src: url('/static/fonts/basictitlefont.ttf');
}

h1, h2, h3 {
    color: white;
    font-family: Roboto;
}

body {
    font-family: Roboto;
}

.nav {
  font-size: 0.8em;
}

.horizon {
    top: 0px;
    width: 4500px;
    position: absolute;
}

.middle {
    width: 2500px;
}

.front {
    width: 8000px;
    z-index: 500;
    top: 150px;
}

.page {
    background: white none repeat scroll 0 0;
    border: 1px solid #eee;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    width: 500px;
}

.intro {
    background: rgba(0, 0, 0, 0) url("../images/scroll.png") no-repeat scroll right 5px;
    left: 80px;
    padding-right: 50px;
    position: absolute;
    top: -130px;
    font-family: basic;
}

.description {
    left: 1000px;
}

#gallery-container {
    position: relative;
}

.collage-tile-2 {
    float: left;
    margin-left: 50em;
    position: relative;
    top: -80px;
}

.painting:hover {
    opacity: 1;
}

.painting-2 {
    position: relative;
    vertical-align: top;
    box-shadow: 4px 20px 20px #888888;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #F2F1E6;
    background-color: #F2F1D6;
    opacity: 0.6;
}

.painting-2:hover {
    opacity: 1;
}

.plaque-2 {
    background-color: #f2f1d6;
    border-color: #DEDEEF;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    box-shadow: 4px 10px 10px #888888;
    left: -100px;
    position: absolute;
    width: 70px;
    font-size: 0.4em;
    font-family: basic;
    bottom: 0;
}

.plaque-2:hover {
    width: 110px;
    font-size: 0.8em;
}

.img-detail {
    left: 345px;
    top: -100px;
    position: absolute;
    vertical-align: top;
    box-shadow: 4px 20px 20px black;
    z-index: -100;
}

.img-detail img {
    height: 485px;
}

.detail-plaque {
    position: absolute;
    background-color: black;
    left: 40px;
    padding: 20px;
    top: -50px;
    width: 265px;
    height: 88%;
}

.detail-plaque:hover {

}

.title-text, .sub-text, .sub-text2, .sub-text3 {
    color: white;
    font-family: basic;
}

.title-text {
    font-size: 2.0em;
    color: #9AB800;
}

.sub-text {
    font-size: 1.5em;
}

.sub-text2 {
    font-size: 1.25em;
}

.sub-text3 {
    font-size: 1.0em;
}

#portrait-display {
    position: absolute;
    top: -100px;
    left: 660px;
}

#detail-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
}

#cat-close-up {
      width: 50%;
      height: auto;
      box-shadow: 1px 6px 10px black;
      padding: 1px;
      border-style: double;
      border-width: 2px;
      border-color: #3B3936;
}

#gallery-container {


}
