
h1, h2, h3 {
    color: white;
}

.horizon {
    top: 0px;
    width: 4500px;
    position: absolute;
}

.middle {
    width: 2500px;
}

.front {
    width: 6000px;
    z-index: 500;
    top: 150px;
}

.txt {
  top: 150px;
}

.page {
    background: white none repeat scroll 0 0;
    border: 1px solid #eee;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    width: 500px;
}

.intro {
    background: rgba(0, 0, 0, 0) url("../images/scroll.png") no-repeat scroll right 5px;
    left: 321px;
    padding-right: 50px;
    position: absolute;
    top: 0;
}

.description {
    left: 1000px;
}

#gallery-container {
    position: relative;
}
.collage-tile {
    left: 1644px;
    top: -80px;
    position: absolute;
}

.collage-tile img {
}

.collage-tile-2 {
    float: left;
    margin-left: 50em;
    position: relative;
    top: -80px;
}

.painting {
    position: relative;;
    vertical-align: top;
    box-shadow: 4px 20px 20px #888888;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #F2F1E6;
    background-color: #F2F1D6;
    opacity: 0.6;
}

.painting:hover {
    opacity: 1;
}

.painting-2 {
    position: relative;
    vertical-align: top;
    box-shadow: 4px 20px 20px #888888;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #F2F1E6;
    background-color: #F2F1D6;
    opacity: 0.6;
}

.painting-2:hover {
    opacity: 1;
}

.plaque {
    left: 524px;
    top: 196px;
    width: 130px;
    position: absolute;
    font-size: 0.8em;
    box-shadow: 4px 10px 10px #888888;
    padding: 2px;
    border-style: double;
    border-width: 5px;
    border-color: #3B3936;
    background-color: #F2F1D6;
    opacity: 0.80;
}

.plaque-2 {
    background-color: #f2f1d6;
    border-color: #3b3936;
    border-style: double;
    border-width: 5px;
    bottom: 0;
    box-shadow: 4px 10px 10px #888888;
    font-size: 0.8em;
    left: -140px;
    opacity: 0.8;
    padding: 2px;
    position: absolute;
    width: 130px;
}

.img-detail {
    left: 500px;
    top: -50px;
    width: auto;
    position: absolute;
    vertical-align: top;
    box-shadow: 4px 20px 20px #888888;
}

.detail-plaque {

}

#plaque-02 {

}

#detail-background {
      width: 2048px;
      height: auto;
}

#cat-close-up {
      width: 50%;
      height: auto;
      box-shadow: 1px 6px 10px #888888;
      padding: 1px;
      border-style: double;
      border-width: 2px;
      border-color: #3B3936;
}

#gallery-container {


}
