

h1, h2, h3 {
    color: white;
}

.horizon {
    top: 0px;
    width: 4500px;
    position: absolute;
}

.middle {
    width: 2500px;
}

.front {
    width: 6000px;
    z-index: 500;
    top: 150px;
}

.txt {
  top: 150px;
}

.page {
    background: white none repeat scroll 0 0;
    border: 1px solid #eee;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    width: 500px;
}

.intro {
    background: rgba(0, 0, 0, 0) url("../images/scroll.png") no-repeat scroll right 5px;
    left: 321px;
    padding-right: 50px;
    position: absolute;
    top: 0;
}

.description {
    left: 1000px;
}

.grid-container {
    width: 400px;
    height: 400px;
}

.grid {
    position: absolute;
    left: 500px
}

.grid img {
    padding: 10px;
    width: 100px;
}

.grid-sizer {
    float: left;
}

.grid-item {
    width: 35%;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
    width: 35%;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--height2 {
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    height: 40%;
    float: right;
}

.collage-painting {
    opacity: 0.50;
}

.collage-painting:hover {
    opacity: 1;
}


.img-detail {
    left: 500px;
    top: -50px;
    width: auto;
    position: absolute;
    vertical-align: top;
    box-shadow: 4px 20px 20px #888888;
}

.detail-plaque {

}

#plaque-02 {

}

#detail-background {
      width: 2048px;
      height: auto;
}

#cat-close-up {
      width: 50%;
      height: auto;
      box-shadow: 1px 6px 10px #888888;
      padding: 1px;
      border-style: double;
      border-width: 2px;
      border-color: #3B3936;
}

#gallery-container {


}
